option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600

packages:
  yum:
    python27-numpy: []
    git: []
    cmake: []
    gcc-c++: []

commands:
  1 git clone opencv:
    command: git clone https://github.com/Itseez/opencv.git
    cwd: /home/ec2-user
  2 tempdir:
    command: mkdir release
    cwd: /home/ec2-user/opencv
  3 cmake opencv:
    command: cmake -D CMAKE_BUILD_TYPE=RELEASE -D BUILD_NEW_PYTHON_SUPPORT=ON -D CMAKE_INSTALL_PREFIX=/usr/local ..
    cwd: /home/ec2-user/opencv/release
  4 make opencv:
    command: make && sudo make install
    cwd: /home/ec2-user/opencv/release

container_commands:
  1 link opencv:
    command: ln -s /usr/local/lib/python2.7/dist-packages/cv2.so /opt/python/run/venv/lib/python2.7/site-packages/cv2.so
  2 source:
    command: source /opt/python/run/venv/bin/activate
  3 initdb:
    command: bin/initdb.py
