{% extends "/shared/internal_template.html" %}
{% block title %}Dashboard{% endblock %}

{% block page_js %}
    <script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron" id="dashboard-container">
        <h1>Welcome!</h1>
        <p>You have successfully logged in!</p>
        <button class="btn btn-primary btn-lg" data-bind="click: takePhoto">
            Add/Update your login photo
        </button>

        <!-- ko if: comparisonPhoto -->
        <div class="thumbnail center-block">
            <img data-bind="attr: {src: comparisonPhoto}">
            <div class="caption">
                <h3>Review Match</h3>
                <p>Please make sure we matched your features. If so, click "Confirm Photo"</p>
                <p>
                    <button type="button" class="btn btn-success" data-bind="click: confirmPhoto">
                        Confirm Photo
                    </button>
                </p>
            </div>
        </div>
        <!-- /ko -->
    </div>
{% endblock %}
