{% extends "/shared/site_template.html" %}
{% block title %}Index{% endblock %}

{% block page_css %}
    <meta name="google-signin-client_id" content="{{ google_client_id }}">
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('static', filename='js/external/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 col-lg-4 col-md-6 col-sm-8 col-xs-10">
        <h1>Welcome!</h1>
        <p>This is the template index! Log in or register!</p>
        <form role="login" class="form-signin" data-bind="submit: loginOrRegister">
            <div class="form-group has-feedback">
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Username" data-bind="textInput: username">
            </div>
            <div class="form-group has-feedback">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password" data-bind="textInput: password">
            </div>
            <div class="form-group has-feedback" data-bind="visible: needToRegister">
                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" data-bind="textInput: confirmPassword">
            </div>
            <div class="form-group has-feedback" data-bind="visible: needToRegister">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Email" data-bind="textInput: email">
            </div>
            <hr/>

            <!-- ko if: needToRegister -->
                <button type="submit" class="btn btn-lg btn-primary btn-block" data-bind="enable: readyToRegister">Register</button>
            <!-- /ko -->
            <!-- ko ifnot: needToRegister -->
                <button type="submit" class="btn btn-lg btn-primary btn-block" data-bind="enable: readyToLogin">Login</button>
            <!-- /ko -->

            <hr/>
            <a data-bind="toggle: needToRegister, text: needToRegister() ? 'Already have an account?' : 'Need a new account?'" class="clickable"></a>

        </form>
    </div>
</div>
{% endblock %}
