<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global/bootstrap.min.css') }}">
        {% block page_css %}{% endblock %}
    </head>

    <body>
        <script>
            var Data = {};
        </script>
        {% block page_data %}{% endblock %}

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">App Name!</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% block navigation %}{% endblock %}
                    </ul>
                    {% block nav_extras %}{% endblock %}
                </div>
            </div>
        </nav>

        <div class="container" id="page_content">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/global/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/knockout.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/knockout.validation.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/bootbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/js-py-proto.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global/app.js') }}"></script>
        {% block page_js %}{% endblock %}
    </body>
</html>
